.footer {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding: 70px 50px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;

    @media (max-width: 1000px) {
        padding: 70px 30px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-links {
    text-align: center;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 15px;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.link {
    color: #666565;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: light;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin-top: 5px;
}

.footer h3 {
    font-size: 16px;
    color: #666565;
    margin-bottom: 40px;
}